.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
}
.wrapper {
  width: 18rem;
  height: 11rem;
  /* border: 5px solid #515151; */
  /* margin: 1em 2em; */
  float: left;
  margin-right: 1rem;
}
.exmp2 {
  /* display: flex;
  align-items: center; */
}
.exmp2 img {
  width: auto;
  height: 100%;
  border-radius: 1rem;
}
